@use 'variables' as *;
@use 'setup';

footer {
    width: 100%;
    background-color: $dark;
    background-size: cover;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    text-align: center;
    a {
        color: $light;
        text-decoration: underline;
    }
}