@use 'variables' as *;
@use 'setup';

// max-width: 1090px
@media (max-width: 1090px) {
    section.projects .wrapper {
    .projectCard {
        margin: 20px 0;
    }
        }
}

@media (max-width: 850px){
    section.projects .wrapper {
            ul {
                width: 100%;
                .projectCard {
                        width: 100%;
                
                        .infoBox p {
                            font-size: 0.8rem;
                            margin: 7px 0;
                        }
                    }
            }
            
        }
}

// max-width: 760px
@media (max-width: 760px) {

    section.skills .wrapper {
    .logoContainer {
            div {
                width: 30%;
                margin-left: 50px;
            }
        }
    }
    section.contact div.wrapper {
        div.flexInfo {
            width: 100%;
            div.messageBox {
                flex-direction: column;
                width: 100%;
                p,
                form {
                    width: 100%;
                }
            }
        }
    }
    section.projects .wrapper {
        .projectCard {
            width: 100%;
        }
    }
    section.projects .wrapper {
        .projectCard {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: static !important;

            img.projectView {
                padding: 0;
            }

            .infoBox h4 {
                font-size: 1rem;
                margin: 0;
            }

            .infoBox {
                display: block;
                position: static !important;
            }
        }
    }
}
    

// max-width: 600px
@media (max-width: 600px) {

    section.about .wrapper {
        padding: 20px 0;
        flex-direction: column;
    }

    section.skills .wrapper {
    .logoContainer {
        justify-content: space-between;
        padding: 20px 0;
        div {
            width: 25%;
            margin-left: 30px;
            display: block;
        }
    }
    }

    section.projects .wrapper {
        width: 100%;
        ul {
            width: 100%;
            li {
                margin: 0 20px;
            }
        }
    }

    section.contact .wrapper {
        padding: 20px 0;
        .flexInfo {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ul {
                flex-direction: row;
            }
            p{
                text-align: center;
                padding: 0 0 20px 0;
            }
        }
    }

    section.about .wrapper .paragraphContainer,
    section.contact .wrapper .flexInfo {
        p {
            width: 100%;
        }
    }

    section.about .wrapper {
        width: 100%;
        div.paragraphContainer {
            width: 90%;
        }
    }

}

@media (max-width: 500px){


    

    main aside {
        h1{
            font-size: 1.9rem;
            padding: 5px;
        }
    }
    section.about .wrapper {
        .avatar h2 {
            font-size: 1.5rem;
        }
    }
}

// max-width: 375px
@media (max-width: 375px) {

    section.projects .wrapper {
    .projectCard {
        .infoBox{
            button {
                    margin: 5px;
                }
        }
        
    }
        }
}