@use 'variables' as *;
@use 'setup';

// max-width: 1090px
@media (max-width: 1090px) {

}

@media (max-width: 850px){

}

// max-width: 760px
@media (max-width: 760px) {

}
    

// max-width: 600px
@media (max-width: 600px) {

    section.about .wrapper {
        padding: 20px 0;
        flex-direction: column;
    }

    section.about .wrapper .paragraphContainer,
    section.contact .wrapper .flexInfo {
        p {
            width: 100%;
        }
    }

    section.about .wrapper {
        width: 100%;
        div.paragraphContainer {
            width: 90%;
        }
    }

}

@media (max-width: 500px){

    main aside {
        h1{
            font-size: 1.9rem;
            padding: 5px;
        }
    }
    section.about .wrapper {
        .avatar h2 {
            font-size: 1.5rem;
        }
    }
}

// max-width: 375px
@media (max-width: 375px) {

}