

// Typography
// Roboto
$roboto: 'Roboto Mono', monospace;

// Lora
$lora: 'Lora', serif;


// Colors
$dark: black;

$light: white;

// $orangeOne: #ffa818;

// $orangeTwo: #f06000;
$orangeOne: #d8c6df;
$orangeTwo: #4d1f59;

// Font sizes:
