@use 'variables' as *;
@use 'setup';
@use 'header';
@use 'footer';
@use 'media-queries';



section.about{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.about .wrapper{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark;
    .avatar {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2 {
        font-family: $roboto;
        font-size: 1.5rem;
    }
    p {
        text-align: center;
        font-size: 0.8rem;
    }
    img{
        width: 220px;
        height: 200px;
    }
}

section.skills .wrapper{
    width: 100%;
    background-color: $dark;
    background-size: cover;
    color: $light;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h3 {
        font-family: $roboto;
        font-size: 1.2rem;
    }
    
    .logoContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px;
        width: 80%;
        div {
            width: 20%;
            height: 100px;
        }
        i {
            width: 80px;
            height: 80px;
        }
        p {
            font-size: 0.8rem;
            font-style: italic;
        }
    }
}

section.projects{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $medium;
    background-size: cover;
}
section.projects .wrapper{

        color: $dark;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            font-family: $roboto;
            font-size: 1.2rem;
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;
            padding: 0;
            li {
                min-width: 30%;
                padding: 10px;
                margin: 20px;
                background-color: rgb(197, 197, 197);
                border-radius: 5px;
            }
        }
        .projectCard {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 285px;
            img.projectView {
                width: 95%;
                border-radius: 5px;
            }
            h4{
                font-size: 0.9rem;
            }
            .infoBox {
                margin: 0 auto;
                text-align: center;
                font-size: 0.7rem;
            }
            button {
                height: 30px;
                width: 80px;
                font-size: 0.6rem;
                margin: 0 10px;
            }
        }
}

.animation {
            background-color: $dark;
            p{
                color: $light;
            }
            transition: .5s;
    }

section.contact {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.contact .wrapper{
    color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        text-align: left;
        line-height: 1.5rem;
        font-size: 0.8rem;
        padding: 20px;
        margin: 0;
    }
    h3 {
        font-size: 1.2rem;
        font-family: $roboto;
    }
    .flexInfo {
        display: flex;
        width: 80%;

    }
    .socials {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        i {
            color: $dark;
            width: 60px;
            height: 60px;
        }
        i:hover{
            color: white;
            transition: 0.5s;
        }
    }
    
}


a:hover,
button:hover {
    color: white;
    letter-spacing: 2px;
    transition: 1s;
}