@use 'variables' as *;
@use 'setup';
@use 'header';
@use 'footer';
@use 'media-queries';


aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light;

    h1 {
        font-family: $roboto;
        font-size: 2.5rem;
        letter-spacing: 10px;
        text-align: center;
    }

    h1:hover {
        letter-spacing: 13px;
        color: $light;
        transition: 1s;
    }
}

section.about{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
section.about .wrapper{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
    .avatar {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .paragraphContainer {
        width: 60%;
    }
    h2 {
        font-family: $roboto;
        font-size: 2rem;
    }
    p {
        text-align: left;
        font-size: 1rem;
    }
    img{
        width: 220px;
        height: 200px;
    }
}

section.skills .wrapper{
    width: 100%;
    background-color: $dark;
    background-size: cover;
    color: $light;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h3 {
        font-family: $roboto;
        font-size: 1.5rem;
    }
    
    .logoContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        div {
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 50px;
            height: 50px;
        }
        p {
            font-size: 0.9rem;
            font-family: $roboto;
        }
    }
}

section.projects{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    background-size: cover;
}
section.projects .wrapper{
        color: $dark;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            font-family: $roboto;
            color: $light;
            font-size: 1.5rem;
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            padding: 0;
            li {
                padding: 10px;
                // background-color: $orangeOne;
                border-radius: 5px;
            }
        }
        .projectCard {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin: 30px 0;
            img.projectView {
                max-width: 60%;
                max-height: 500px;
                border-radius: 5px;
                margin: 5px;
                background-color: $dark;
                border: 2px solid $orangeOne;
                padding: 30px;
            }
            h4{
                font-size: 1.2rem;
            }
            .infoBox {
                width: 40%;
                text-align: left;
                font-size: 1rem;
                padding: 15px;
                border: 3px solid $orangeOne;
                border-radius: 5px;
                background-color: $orangeOne;
                max-width: 60%;
                max-height: 500px;
            }
            button {
                height: 30px;
                width: 80px;
                font-size: 0.6rem;
                margin: 0 auto;
            }
        }
}

.animation {
            background-color: $dark;
            p{
                color: $light;
            }
            transition: .5s;
    }

section.contact {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.contact .wrapper{
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        text-align: left;
        line-height: 1.5rem;
        font-size: 0.8rem;
        padding: 20px;
        margin: 0;
        font-size: 1rem;
    }
    h3 {
        font-size: 1.5rem;
        font-family: $roboto;
    }
    .flexInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

    }
    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            color: $light;
            width: 60px;
            height: 60px;
        }
        i:hover{
            color: $orangeOne;
            transition: 0.5s;
        }
    }
    
}


a:hover {
    color: white;
    letter-spacing: 2px;
    transition: 1s;
}
button:hover {
    background-color: $orangeOne;
    color: $orangeTwo;
    border: 1px solid $orangeTwo;
}