@use 'variables' as *;
@use 'setup';
@use 'header';
@use 'footer';
@use 'media-queries';


aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // color: $light;

    h1 {
        font-family: $roboto;
        font-size: 2.5rem;
        letter-spacing: 10px;
        text-align: center;
    }

    h1:hover {
        letter-spacing: 11px;
        // color: $light;
        transition: 1s;
    }
}

section.about{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
section.about .wrapper{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: $light;
    .avatar {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .paragraphContainer {
        width: 60%;
    }
    h2 {
        font-family: $roboto;
        font-size: 2rem;
    }
    p {
        text-align: left;
        font-size: 1rem;
    }
    img{
        width: 220px;
        height: 200px;
    }
}

section.skills .wrapper{
    width: 100%;
    // background-color: $dark;
    background-size: cover;
    // color: $light;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h3 {
        font-family: $roboto;
        font-size: 1.5rem;
    }
    
    .logoContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        div {
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 50px;
            height: 50px;
        }
        p {
            font-size: 0.9rem;
            font-family: $roboto;
        }
    }
}

section.projects{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $dark;
    background-size: cover;
}
section.projects .wrapper{
        // color: $dark;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p.hoverNote {
            // color: $light;
            font-size: 0.8rem;
        }
        h3 {
            font-family: $roboto;
            // color: $light;
            font-size: 1.5rem;
            text-align: center;
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0;
            li {
                padding: 10px;
                border-radius: 5px;
            }
        }
        .projectCard {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin: 30px 0;
            position: relative;
            width: 70%;
            border: 2px solid $orangeOne;
            img.projectView {
                max-width: 80%;
                width: 100%;
                max-height: 450px;
                border-radius: 5px;
                margin: 5px;
                background-color: $dark;
                display: block;
            }
            img.mobileView {
                max-width: 40%;
                border-radius: 5px;
                margin: 5px;
                background-color: $dark;
                display: block;
            }
            img.tabletView{
                max-width: 65%;
                border-radius: 5px;
                margin: 5px;
                background-color: $dark;
                display: block;
            }
            h4{
                font-size: 1.2rem;
                margin: 10px 0;
            }
            .infoBox {
                width: 100%;
                height: 100%;
                text-align: left;
                font-size: 1rem;
                padding: 10px;
                border: 3px solid $orangeOne;
                border-radius: 5px;
                background-color: $orangeOne; opacity: 0.9;
                position: absolute;
                top: 0;
                opacity: 0;
            }
            button {
                height: 30px;
                width: 80px;
                font-size: 0.6rem;
                margin: 0 auto;
            }
        }

        .projectCard:hover,
        .projecrCard:focus-within {
            .infoBox {
                opacity: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                transition: all .8s;
                p {
                    margin: 7px 0;
                }
            }
        }
}

.animation {
            background-color: $dark;
            p{
                color: $light;
            }
            transition: .5s;
    }

section.contact {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.contact .wrapper{
    // color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        text-align: left;
        line-height: 1.5rem;
        font-size: 0.8rem;
        padding: 20px;
        margin: 0;
        font-size: 1rem;
    }
    h3 {
        font-size: 1.5rem;
        font-family: $roboto;
    }
    .flexInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

    }
    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        span.lightIcon {
            color: $light;
            width: 80px;
            height: 80px;
        }
        span.lightIcon:hover{
            transform: scale(110%);
            transition: 0.5s;
            color: $orangeOne;
            cursor: pointer;
        }
        span.darkIcon{
            color: $dark;
            width: 80px;
            height: 80px;
        }
        span.darkIcon:hover{
            transform: scale(110%);
            transition: 0.5s;
            color: $orangeTwo;
            cursor: pointer;
        }
    }
    .messageBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            width: 50%;
            display: inline-block;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            textarea {
                min-width: 90%;
                min-height: 200px;
                background-color: $orangeOne;
                border: none;
                margin-bottom: 5px;
                border-radius: 5px;
                padding: 5px;
            }
            input {
                min-width: 90%;
                min-height: 30px;
                margin-bottom: 5px;
                background-color: $orangeOne;
                border: none;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
    .messageBox{
        form{
            textarea::placeholder,
            input::placeholder {
                margin-left: 5px;
                color: $dark;
                font-size: 0.8rem;
            }
        }
    }
}

a:hover {
    color: $light;
    letter-spacing: 2px;
    transition: 1s;
    cursor: pointer;
}
button:hover,
button:focus,
button:focus-within {
    background-color: $orangeOne;
    color: $orangeTwo;
    border: 1px solid $orangeTwo;
    cursor: pointer;
    span {
        background-color: $orangeTwo;
    }
}

// Dark and Light Mode Style Toggle

div.mode{
    margin: 0 auto;
    background-color: $orangeTwo;
    border: none;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .circle{
        border: 1px solid $dark;
        border-radius: 20px;
        background-color: white;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
    }
}

div.modeLight{
    margin: 0 auto;
    background-color: $orangeOne;
    border: none;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .circleLight {
        border: 1px solid $dark;
        border-radius: 20px;
        background-color: white;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 60px;
        }
}

