html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body.bodyDark {
  background-color: black;
  color: white;
  font-family: "Lora", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.bodyLight {
  background-color: white;
  color: black;
  font-family: "Lora", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
}

button {
  background-color: #4d1f59;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  width: auto;
  height: 40px;
  padding: 10px;
}

.wrapper {
  width: 80%;
}

:focus {
  outline: 3px solid white;
}

header {
  padding: 20px;
  height: 10vh;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90%;
}
header .wrapper .navBar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4d1f59;
  opacity: 0.98;
  color: #d8c6df;
  position: absolute;
  top: -100%;
}
header .wrapper .navBar .navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
header .wrapper .hamburger {
  display: block;
  width: 45px;
  height: 45px;
  position: relative;
}
header .wrapper .hamburger.active {
  width: 45px;
  height: 45px;
  z-index: 10;
}
header .wrapper .hiddenButton {
  border: none;
  opacity: 0;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 0;
}
header .wrapper .hamburger.active .bar:nth-child(2) {
  opacity: 0;
  background-color: white;
}
header .wrapper .hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
  background-color: white;
}
header .wrapper .hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}
header .wrapper .navMenu {
  padding: 30px 0;
  top: 0;
  gap: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .wrapper .navItem {
  margin: 18px 0;
}
header .wrapper .navBar.active {
  left: 0;
  top: 0;
  right: 0;
  min-height: 100vh;
}
header .wrapper .navBar.active li a {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}
header nav ul li:hover a {
  border-radius: 5px;
  padding: 2px;
  margin: 0;
  border: 2px solid white;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

footer {
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: small;
  text-align: center;
}
footer a {
  color: white;
  text-decoration: underline;
}

@media (max-width: 1090px) {
  section.projects .wrapper .projectCard {
    margin: 20px 0;
  }
}
@media (max-width: 850px) {
  section.projects .wrapper ul {
    width: 100%;
  }
  section.projects .wrapper ul .projectCard {
    width: 100%;
  }
  section.projects .wrapper ul .projectCard .infoBox p {
    font-size: 0.8rem;
    margin: 7px 0;
  }
}
@media (max-width: 760px) {
  section.skills .wrapper .logoContainer div {
    width: 30%;
    margin-left: 50px;
  }
  section.contact div.wrapper div.flexInfo {
    width: 100%;
  }
  section.contact div.wrapper div.flexInfo div.messageBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  section.contact div.wrapper div.flexInfo div.messageBox p,
  section.contact div.wrapper div.flexInfo div.messageBox form {
    width: 100%;
  }
  section.projects .wrapper .projectCard {
    width: 100%;
  }
  section.projects .wrapper .projectCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static !important;
  }
  section.projects .wrapper .projectCard img.projectView,
  section.projects .wrapper .projectCard img.mobileView {
    padding: 0;
  }
  section.projects .wrapper .projectCard .infoBox h4 {
    font-size: 1rem;
    margin: 0;
  }
  section.projects .wrapper .projectCard .infoBox {
    display: none;
    position: static !important;
  }
}
@media (max-width: 600px) {
  section.about .wrapper {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.skills .wrapper .logoContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
  }
  section.skills .wrapper .logoContainer div {
    width: 25%;
    margin-left: 30px;
    display: block;
  }
  section.projects .wrapper {
    width: 100%;
  }
  section.projects .wrapper ul {
    width: 100%;
  }
  section.projects .wrapper ul li {
    margin: 0 20px;
  }
  section.contact .wrapper {
    padding: 20px 0;
  }
  section.contact .wrapper .flexInfo {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.contact .wrapper .flexInfo ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.contact .wrapper .flexInfo p {
    text-align: center;
    padding: 0 0 20px 0;
  }
  section.about .wrapper .paragraphContainer p,
  section.contact .wrapper .flexInfo p {
    width: 100%;
  }
  section.about .wrapper {
    width: 100%;
  }
  section.about .wrapper div.paragraphContainer {
    width: 90%;
  }
}
@media (max-width: 500px) {
  main aside h1 {
    font-size: 1.9rem;
    padding: 5px;
  }
  section.about .wrapper .avatar h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 375px) {
  section.projects .wrapper .projectCard .infoBox button {
    margin: 5px;
  }
}
aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
aside h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
  letter-spacing: 10px;
  text-align: center;
}
aside h1:hover {
  letter-spacing: 11px;
  -webkit-transition: 1s;
  transition: 1s;
}

section.about {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

section.about .wrapper {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.about .wrapper .avatar {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.about .wrapper .paragraphContainer {
  width: 60%;
}
section.about .wrapper h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
}
section.about .wrapper p {
  text-align: left;
  font-size: 1rem;
}
section.about .wrapper img {
  width: 220px;
  height: 200px;
}

section.skills .wrapper {
  width: 100%;
  background-size: cover;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.skills .wrapper h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}
section.skills .wrapper .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}
section.skills .wrapper .logoContainer div {
  padding: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.skills .wrapper .logoContainer img {
  width: 50px;
  height: 50px;
}
section.skills .wrapper .logoContainer p {
  font-size: 0.9rem;
  font-family: "Roboto Mono", monospace;
}

section.projects {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

section.projects .wrapper {
  color: black;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.projects .wrapper p.hoverNote {
  color: white;
  font-size: 0.8rem;
}
section.projects .wrapper h3 {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
section.projects .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
}
section.projects .wrapper ul li {
  padding: 10px;
  border-radius: 5px;
}
section.projects .wrapper .projectCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 30px 0;
  position: relative;
  width: 70%;
  border: 2px solid #d8c6df;
}
section.projects .wrapper .projectCard img.projectView {
  max-width: 80%;
  width: 100%;
  max-height: 450px;
  border-radius: 5px;
  margin: 5px;
  background-color: black;
  display: block;
}
section.projects .wrapper .projectCard img.mobileView {
  max-width: 40%;
  border-radius: 5px;
  margin: 5px;
  background-color: black;
  display: block;
}
section.projects .wrapper .projectCard img.tabletView {
  max-width: 65%;
  border-radius: 5px;
  margin: 5px;
  background-color: black;
  display: block;
}
section.projects .wrapper .projectCard h4 {
  font-size: 1.2rem;
  margin: 10px 0;
}
section.projects .wrapper .projectCard .infoBox {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1rem;
  padding: 10px;
  border: 3px solid #d8c6df;
  border-radius: 5px;
  background-color: #d8c6df;
  opacity: 0.9;
  position: absolute;
  top: 0;
  opacity: 0;
}
section.projects .wrapper .projectCard button {
  height: 30px;
  width: 80px;
  font-size: 0.6rem;
  margin: 0 auto;
}
section.projects .wrapper .projectCard:hover .infoBox,
section.projects .wrapper .projecrCard:focus-within .infoBox {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
section.projects .wrapper .projectCard:hover .infoBox p,
section.projects .wrapper .projecrCard:focus-within .infoBox p {
  margin: 7px 0;
}

.animation {
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.animation p {
  color: white;
}

section.contact {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.contact .wrapper p {
  text-align: left;
  line-height: 1.5rem;
  font-size: 0.8rem;
  padding: 20px;
  margin: 0;
  font-size: 1rem;
}
section.contact .wrapper h3 {
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
}
section.contact .wrapper .flexInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
section.contact .wrapper .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.contact .wrapper .socials span {
  color: white;
  width: 80px;
  height: 80px;
}
section.contact .wrapper .socials span:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #d8c6df;
  cursor: pointer;
}
section.contact .wrapper .messageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.contact .wrapper .messageBox p {
  width: 50%;
  display: inline-block;
}
section.contact .wrapper .messageBox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
section.contact .wrapper .messageBox form textarea {
  min-width: 90%;
  min-height: 200px;
  background-color: #d8c6df;
  border: none;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}
section.contact .wrapper .messageBox form input {
  min-width: 90%;
  min-height: 30px;
  margin-bottom: 5px;
  background-color: #d8c6df;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
section.contact .wrapper .messageBox form textarea::-webkit-input-placeholder, section.contact .wrapper .messageBox form input::-webkit-input-placeholder {
  margin-left: 5px;
  color: black;
  font-size: 0.8rem;
}
section.contact .wrapper .messageBox form textarea::-moz-placeholder, section.contact .wrapper .messageBox form input::-moz-placeholder {
  margin-left: 5px;
  color: black;
  font-size: 0.8rem;
}
section.contact .wrapper .messageBox form textarea:-ms-input-placeholder, section.contact .wrapper .messageBox form input:-ms-input-placeholder {
  margin-left: 5px;
  color: black;
  font-size: 0.8rem;
}
section.contact .wrapper .messageBox form textarea::-ms-input-placeholder, section.contact .wrapper .messageBox form input::-ms-input-placeholder {
  margin-left: 5px;
  color: black;
  font-size: 0.8rem;
}
section.contact .wrapper .messageBox form textarea::placeholder,
section.contact .wrapper .messageBox form input::placeholder {
  margin-left: 5px;
  color: black;
  font-size: 0.8rem;
}

a:hover {
  color: white;
  letter-spacing: 2px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

button:hover,
button:focus,
button:focus-within {
  background-color: #d8c6df;
  color: #4d1f59;
  border: 1px solid #4d1f59;
  cursor: pointer;
}
button:hover span,
button:focus span,
button:focus-within span {
  background-color: #4d1f59;
}

div.mode {
  margin: 0 auto;
  background-color: #4d1f59;
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
div.mode .circle {
  z-index: 1;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
}

div.modeLight {
  background-color: #d8c6df;
}
div.modeLight .cirleLight {
  left: 60px;
}