html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  background-color: #9baebc;
  font-family: "Lora", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
}

button {
  background-color: #6b5463;
  color: #9baebc;
  font-size: 0.8rem;
  border: none;
  border-radius: 10px;
  width: auto;
  height: 40px;
  padding: 10px;
}

.wrapper {
  width: 90%;
}

header {
  padding: 40px;
  height: 70vh;
  background-color: #14303f;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70%;
}
header .wrapper nav {
  width: 80%;
}
header .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  position: relative;
}
header .wrapper nav ul a {
  position: absolute;
  color: #677a86;
}
header .wrapper aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9baebc;
}
header .wrapper aside h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  letter-spacing: 10px;
  text-align: center;
}
header .wrapper aside h1:hover {
  letter-spacing: 13px;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}
header nav ul li:hover a {
  border-radius: 5px;
  padding: 2px;
  margin: 0;
  border: 2px solid #9baebc;
  color: #9baebc;
  -webkit-transition: 1s;
  transition: 1s;
}

footer {
  width: 100%;
  background-color: #14303f;
  background-size: cover;
  color: #9baebc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: small;
  text-align: center;
}
footer a {
  color: #9baebc;
  text-decoration: underline;
}

@media (max-width: 1090px) {
  section.projects .wrapper .projectCard {
    margin: 20px 0;
  }
}
@media (max-width: 760px) {
  section.skills .wrapper .logoContainer div {
    width: 30%;
    margin-left: 50px;
  }
}
@media (max-width: 600px) {
  section.about .wrapper {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.skills .wrapper .logoContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
  }
  section.skills .wrapper .logoContainer div {
    width: 25%;
    margin-left: 30px;
    display: block;
  }
  section.projects .wrapper {
    width: 100%;
  }
  section.projects .wrapper ul {
    width: 100%;
  }
  section.projects .wrapper ul li {
    margin: 0 20px;
  }
  section.contact .wrapper {
    padding: 20px 0;
  }
  section.contact .wrapper .flexInfo {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.contact .wrapper .flexInfo ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.contact .wrapper .flexInfo p {
    text-align: center;
    padding: 0 0 20px 0;
  }
}
@media (max-width: 375px) {
  header {
    height: 60vh;
  }
  section.projects .wrapper .projectCard .infoBox button {
    margin: 5px;
  }
}
section.about {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.about .wrapper {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #14303f;
}
section.about .wrapper .avatar {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.about .wrapper h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}
section.about .wrapper p {
  text-align: center;
  font-size: 0.8rem;
}
section.about .wrapper img {
  width: 220px;
  height: 200px;
}

section.skills .wrapper {
  width: 100%;
  background-color: #14303f;
  background-size: cover;
  color: #9baebc;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.skills .wrapper h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
}
section.skills .wrapper .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  width: 80%;
}
section.skills .wrapper .logoContainer div {
  width: 20%;
  height: 100px;
}
section.skills .wrapper .logoContainer i {
  width: 80px;
  height: 80px;
}
section.skills .wrapper .logoContainer p {
  font-size: 0.8rem;
  font-style: italic;
}

section.projects {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #677a86;
  background-size: cover;
}

section.projects .wrapper {
  color: #14303f;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.projects .wrapper h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
}
section.projects .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 0;
}
section.projects .wrapper ul li {
  min-width: 30%;
  padding: 10px;
  margin: 20px;
  background-color: rgb(197, 197, 197);
  border-radius: 5px;
}
section.projects .wrapper .projectCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 285px;
}
section.projects .wrapper .projectCard img.projectView {
  width: 95%;
  border-radius: 5px;
}
section.projects .wrapper .projectCard h4 {
  font-size: 0.9rem;
}
section.projects .wrapper .projectCard .infoBox {
  margin: 0 auto;
  text-align: center;
  font-size: 0.7rem;
}
section.projects .wrapper .projectCard button {
  height: 30px;
  width: 80px;
  font-size: 0.6rem;
  margin: 0 10px;
}

.animation {
  background-color: #14303f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.animation p {
  color: #9baebc;
}

section.contact {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact .wrapper {
  color: #14303f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.contact .wrapper p {
  text-align: left;
  line-height: 1.5rem;
  font-size: 0.8rem;
  padding: 20px;
  margin: 0;
}
section.contact .wrapper h3 {
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
}
section.contact .wrapper .flexInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}
section.contact .wrapper .socials {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
section.contact .wrapper .socials i {
  color: #14303f;
  width: 60px;
  height: 60px;
}
section.contact .wrapper .socials i:hover {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
button:hover {
  color: white;
  letter-spacing: 2px;
  -webkit-transition: 1s;
  transition: 1s;
}